.Header {
  display: grid;
  background-position: center center;
}

.Header h1 {
  margin: 10px 6%;
  padding: 0;
  font-size: 6em;
  font-weight: bold;
  color: white;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Header ul {
  margin: 0;
  align-self: flex-end;
  list-style: none;
  background-color: #ffffff;
  height: 30px;
  display: flex;
  gap: 80px;
  padding: 0 80px;
  justify-content: end;
  align-items: center;
  box-shadow: 0 -10px 20px 20px #ffffff;
}

.Header a {
  text-decoration: none;
}

.Header li:hover {
  color: rgb(132, 46, 79);
  text-shadow: 0 0 5px rgb(231, 153, 234);
}

.Header li {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #2e2f36;
  font-size: 2em;
  padding-bottom: 20px;
}
