.Shop {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.Shop-Container {
  overflow-y: auto;
  white-space: nowrap;
}

.Shop-Grid {
  height: 500px;
  margin: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: space-around;
  gap: min(20px);
  row-gap: 50px;
}