.ShopSidebar {
  width: 200px;
  height: 100%;
}

.ShopSidebar h2 {
  font-size: 1.5em;
  margin: 0 0 20px 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:rgb(132, 46, 79);
  text-decoration: underline;
}

.ShopSidebar ul {
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0 0 0 0;
}

.ShopSidebar ul li {
  margin: 0 0 10px 0;
}

.ShopSidebar button {
  width: 80px;
  border-radius: 12px;
  border: 1px solid rgb(202, 162, 168);
  height: 25px;
  background-color:rgb(202, 162, 168);
  color: white;
}

.ShopSidebar button:hover {
  cursor: pointer;
  background-color: rgb(132, 46, 79);
  box-shadow: 0 0 5px rgb(231, 153, 234);
}

#active {
  background-color: rgb(132, 46, 79);
}